<!doctype html>
<html>
    <body>
        <h1>Upload new MRI Image</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="image" onchange="previewImage(event)">
            <img id="preview" src="" alt="Image preview..." style="max-width:200px; max-height:200px;"/>
            <input type="submit" value="Upload">
        </form>
        <script>
            function previewImage(event) {
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('preview');
                    output.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            };
        </script>
    </body>
</html>
